.ant-carousel .slick-slide {
    height: 100%;
    width: 100%; 
    overflow: hidden;
    background-color: wheat;
    border: 0;
  }

  .bannerstyle{
	align-items:center; 
	justify-content:center;
}

.bannerstyle img{
    width:100%; height:700px
}

.btn-post{
    clear: both;
    display: block;
    position:fixed;
}